.contact {
  height: 800px;
  background: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.contact .get-connected {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact .get-connected span {
  font-weight: 700;
}

.contact .flex {
  display: flex;
}

.contact .info {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.contact .details {
  align-items: center;
  margin: 10px 20%;
  text-shadow: 2px 2px 4px #00ffcc;
}

.contact .details {
  text-decoration: none;
  color: white;
}

.contact .details:hover {
  color: #00ffcc;
}

.contact .details img {
  width: 30px;
}

.contact .details span {
  margin-left: 10px;
}
