header {
  min-width: 100vw;
  min-height: 100vh;
  background: url("/photos/header/background.jpg");
  background-size: cover;
}

header img {
  width: 300px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* iPad and up*/
@media (min-width: 768px) {
  header img {
    width: 400px;
  }
}
