.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.menu button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  outline: none;
}

.menu .sidenav {
  height: 100vh;
  background: white;
  width: 50%;
  z-index: 1;
}

.menu li {
  list-style: none;
  margin: 10px 0;
}
